@import "../../styles/util/colors.scss";

.header {
  background-color: $onyx;
  min-width: 83.5rem;

  &__title {
    color: $white;
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0;
    margin-left: 3rem;
    padding: 1.4rem 0;
    cursor: pointer;
  }
}
